textarea{
    margin: 100px 400px;
    border: 1px solid;
    box-shadow: 6px 9px 16px 5px brown;
    filter:drop-shadow(1); 
    transition: 1s;

} 
textarea:hover{
    transition: 1s;
    transform: scale(1.23); 

}
body{background: linear-gradient(45deg, #af2121, transparent);
}
.button{
    display: flex;
    gap: 10px;
    margin-left: 290px;
}
h1{
    text-align: center;
}
input{
    text-transform: uppercase;
    display: block;
    width: 240px;
    height: 30px;
    border-radius: 7px;
    background: rgb(18, 228, 200);
    color: white;
    font-weight: 600;
    border: 1px solid whitesmoke;
}
input:hover{
    background: rgb(203, 133, 133);

}
.get-email{

}
.get-name{
    
}
.get-url{
    
}
.get-email input{

}
.get-name input{
    
}
.get-url input{
    
}
